<div style="margin-bottom: 20px">
  <%= link_to '<< back to employees', employees_path, class: 'back-link' %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Delete Employee</h3>
  </div>
  <div class="panel-body">
    <%= form_for :employee, url: employee_path(@employee.id), method: 'delete' do |f| %>
      Are you sure to delete this employee: <%= @employee.name %> <%= 'in ' + @employee.department.name + ' department' if @employee.department %>?
  </div>
  <div class="panel-footer">
    <%= submit_tag 'Delete', class: 'btn btn-default' %>
  </div>
  <% end %>
</div>