<table class="table table-bordered">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Employees No</th>
    <th></th>
  </tr>
  <% if @departments.size > 0 %>
    <% count = 0 %>
    <% @departments.each do |dept| %>
    <tr>
      <td><%= count += 1 %></td>
      <td><%= dept.name %></td>
      <td><%= if dept.employees then dept.employees.size else 0 end  %></td>
      <td>
        <%= link_to "Edit", edit_department_path(dept.id), data: { toggle: "modal", target: "#myModel", remote: "true" }  %> -
        <%= link_to "Delete", delete_department_path(dept.id), data: { toggle: "modal", target: "#myModel", remote: "true" } %>
      </td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4">
        No departments are found!
      </td>
    </tr>
  <% end %>
</table>